<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    {{- $title := print .Title " | " .Site.Title -}}
    {{ if .IsHome }}{{- $title = .Site.Title -}}{{ end }}
    <title>{{ $title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/entypo.css" media="all">
    <link rel="stylesheet" href="/css/i.css" media="all">
    <link rel="icon" type="image/svg+xml" href="/moon.svg">

    <script src="https:://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</head>